<h2 style="text-align: center;">Fall 2024 - P5</h2>

<table>
    <tr>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p5/fundamentals">Big Idea 3</a>
        </td>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/3.1/p5/objectives">.1</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/3.1/p5/py/info">py Variables</a>
                <a href="{{site.baseurl}}/csp/big-idea/3.1/p5/py/hacks">py Variables Hacks</a>
                <a href="{{site.baseurl}}/csp/big-idea/3.1/p5/js/info">js Variables</a>
                <a href="{{site.baseurl}}/csp/big-idea/3.1/p5/js/hacks">js Variables Hacks</a>
            </div>
        </td>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p5/3-3">.3</a>
        </td>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/3.4/p5/objectives">.4</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/3.4/py/strings">py Strings</a>
                <a href="{{site.baseurl}}/csp/big-idea/3.4/py/strings/hacks">py Strings Hacks</a>
                <a href="{{site.baseurl}}/csp/big-idea/3.4/js/strings">js Strings</a>
                <a href="{{site.baseurl}}/csp/big-idea/3.4/js/strings/hacks">js Strings Hacks</a>
            </div>
        </td>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p5/3-5">.5</a>
        </td>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p5/3-6">.6<a>
        </td>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p5/3-7">.7</a>
        </td>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p4/3-10B-1">.10</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p4/3-10B-1">.10.1</a>
                <a href="{{site.baseurl}}/csp/big-idea/p4/3-10B-2">.10.2</a>
            </div>
        </td>
    </tr>
</table>