<h2 style="text-align: center;">Fall 2024 - P1</h2>

<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Big Idea 3" alt=""></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/fundamentals">Fundamentals</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-1">.1</a></td>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p1/3-1/lesson">.1</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-1/lesson">.1</a>
            </div>
        </td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-2">.2</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-3">.3</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-4">.4</a></td>
        <td class="dropdown"></td>
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p1/3-4/lesson">.4</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p1/3-4/lesson">.4</a>
            </div>
        </td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-5">.5</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-6/p1">.6</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-7/p1">.7</a></td>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-ideas/p1/3-8">.8</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-ideas/p1/3-8-1">.8.1</a>
                <a href="{{site.baseurl}}/csp/big-ideas/p1/3-8-2">.8.2</a>
                <a href="{{site.baseurl}}/csp/big-ideas/p1/3-8-3">.8.3</a>
            </div>
        </td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-10">.10</a></td>
    </tr>
</table>
