<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Big Ideas 3.2 Period 1" alt=""></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/home">home</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/DT1">Data Types 1</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/DT2">Data Types 2</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/DT3">Data Types 3</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/JSON">JSON and Python</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/hacks">Hacks</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/hw">Homework!</a></td>
    </tr>
</table>