<h2 style="text-align: center;">Fall 2024 - P1</h2>

<table>
    <tr>
        <table>
            <tr>
                <td class="dropdown">
                    <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p1/fundamentals">Big Idea 3</a>
                </td>
                <td class="dropdown">
                    <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/3-1/p1">.1</a>
                </td>
                <td class="dropdown">
                    <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/home">.2</a>
                    <div class="dropdown-content">
                        <a href="{{site.baseurl}}/csp/big-idea/DT1">.2.2</a>
                        <a href="{{site.baseurl}}/csp/big-idea/DT2">.2.3</a>
                        <a href="{{site.baseurl}}/csp/big-idea/DT3">.2.4</a>
                        <a href="{{site.baseurl}}/csp/big-idea/JSON">.2.5</a>
                        <a href="{{site.baseurl}}/csp/big-idea/hacks">hacks</a>
                        <a href="{{site.baseurl}}/csp/big-idea/hw">hw</a> 
                    </div>
                </td>
                <td class="dropdown">
                    <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/3-3/p1">.3</a>
                </td>
                <td class="dropdown">
                    <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p1/3-4">.4</a>
                    <div class="dropdown-content">
                        <a href="{{site.baseurl}}/csp/big-idea/p1/3-4-1">.4.1</a>
                        <a href="{{site.baseurl}}/csp/big-idea/p1/3-4-2">.4.2</a>
                        <a href="{{site.baseurl}}/csp/big-idea/p1/3-4-3">.4.3</a>
                        <a href="{{site.baseurl}}/csp/big-idea/p1/3-4-4">.4.4</a>
                        <a href="{{site.baseurl}}/csp/big-idea/p1/3-4-5">.4.5</a>
                        <a href="{{site.baseurl}}/csp/big-idea/p1/3-4-6">.4.6</a>
                        <a href="{{site.baseurl}}/csp/big-idea/p1/3-4-7">.4.7</a>
                        <a href="{{site.baseurl}}/csp/big-idea/p1/3-4-8">.4.8</a>
                        <a href="{{site.baseurl}}/csp/big-idea/p1/3-4-9">.4.9</a>
                        <a href="{{site.baseurl}}/csp/big-idea/p1/3-4-10">.4.10</a>
                        <a href="{{site.baseurl}}/csp/big-idea/p1/3-4-11">.4.11</a>
                    </div>
                </td>
                <td class="dropdown">
                    <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/3-5/p1">.5</a>
                </td>
                <td class="dropdown">
                    <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/3-6/p1">.6</a>
                </td>
                <td class="dropdown">
                    <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/3-7/p1">.7</a>
                </td>
                <td class="dropdown">
                    <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/3-8/p1">.8</a>
                </td>
            </tr>
        </table>
    </tr>
</table>
