<h2 style="text-align: center;">Fall 2024 - P3</h2>

<table>
    <tr>
        <td class="dropdown"></td>
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/fundamentals">Big Idea 3</a>
        </td>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/3-10">.10</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-10-1">.10.1</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-10-2">.10.2</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-10-3">.10.3</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-10-4">.10.4</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-10-5">.10.5</a>
            </div>
        </td>
        <td class="dropdown"></td>
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/3-3">.3</a>
            <div class="dropdown-content">
            </div>
        </td>
        <td class="dropdown"></td>
        <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/3-5">.5</a>
        <div class="dropdown-content">
        </div>
    </td>
</table>
        