<h2 style="text-align: center;">Fall 2024 - P3</h2>

<table>
    <tr>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/fundamentals">Big Idea 3</a>
        </td>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/3-1-1">.1</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-1-1">.1.1</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-1-2">.1.2</a>
       
            </div>
        </td>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/3-2">.2</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-2-1">.2.1</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-2-2">.2.2</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-2-3">.2.3</a>
            </div>
        </td>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/3-4-0">.4</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-4-1">.4.1</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-4-2">.4.2</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-4-3">.4.3</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-4-4">.4.4</a>
            </div>
        </td>
        <td class="dropdown">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p3/3-10-1">.10</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-10-1">.10.1</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-10-2">.10.2</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-10-3">.10.3</a>
                <a href="{{site.baseurl}}/csp/big-idea/p3/3-10-4">.10.4</a>
            </div>
        </td>
    </tr>
</table>         
