<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="C;asses" alt=""></td>
        <td><a href="{{site.baseurl}}/csa/frqclasses/home">Home</a></td>
        <td><a href="{{site.baseurl}}/csa/frqclasses/review">Review</a></td>
        <td><a href="{{site.baseurl}}/csa/frqclasses/approach"></a>Approach and Grading</td>
        <td><a href="{{site.baseurl}}/csa/frqclasses/practice">Practice</a></td>
        <td><a href="{{site.baseurl}}/csa/frqclasses/homework">Homework</a></td>
    </tr>
</table>