<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Big Idea 3" alt=""></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/intro">Intro</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-1">.1</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-2">.2</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-3">.3</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-4">.4</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-5">.5</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-6">.6</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-7">.7</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-8">.8</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-9">.9</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-10">.10</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-11">.11</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-12">.12</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-12">.13</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-14">.14</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-15">.15</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-16">.16</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-17">.17</a></td>
    </tr>
</table>