<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Big Idea 3" alt=""></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/intro">Intro</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-1">.1</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-2">.2</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-3">.3</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-4">.4</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-5">.5</a></td>
    </tr>
</table>