<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Pair" alt=""></td>
        <td><a href="{{site.baseurl}}/inheritance">Introduction to Inheritance</a></td>
        <td><a href="{{site.baseurl}}/superclass">9.1/9.2</a></td>
        <td><a href="{{site.baseurl}}/override">9.3/9.4</a></td>
        <td><a href="{{site.baseurl}}/lesson">9.5</a></td>
        <td><a href="{{site.baseurl}}/inheritance/polymorphism">9.6</a></td>
        <td><a href="{{site.baseurl}}/inheritance/object-superclass">9.7</a></td>
    </tr>
</table>