<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="JS Project" alt=""></td> <td><a href="{{site.baseurl}}/frontend/basics/home">Home</a></td>
        <td><a href="{{site.baseurl}}/javascript/project/play">Play</a></td>
        <td><a href="{{site.baseurl}}/javascript/project/backgrounds">Backgrounds</a></td>
        <td><a href="{{site.baseurl}}/javascript/project/binary">Binary</a></td>
        <td><a href="{{site.baseurl}}/javascript/project/calculator">Calculator</a></td>
        <td><a href="{{site.baseurl}}/javascript/project/game-of-life">Game-of-Life</a></td>
        <td><a href="{{site.baseurl}}/javascript/project/snake">Snake</a></td>
    </tr>
</table>