<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/kasm/kasmv2.png" height="120" alt=""></td>
        <td><a href="{{site.baseurl}}/kasm/pages/intro">Intro</a></td>
        <td class="dropdown">
            <a class="dropbtn">Multi-Server</a>
            <div class="dropdown-content">
                <a href="">Multi-Server Guide</a>
                <a href="{{site.baseurl}}/kasm/multiserver/autoscale">Autoscale Config</a>
                <a href="{{site.baseurl}}/kasm/multiserver/persistent">Persistent S3</a>
                <a href="#">Registry Config</a>
                <a href="#">Zones</a>
            </div>
        </td>
        <td><a href="{{site.baseurl}}/kasm/pages/intro">Workspaces</a></td>
        <td><a href="{{site.baseurl}}/kasm/pages/intro">Database</a></td>         
    </tr>
</table>

<!-- idk where to put the style stuff-->
<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropbtn {
        text-decoration: none;
        color: black;
        line-height: 8;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 220px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
