<!--
<div style="text-align:center">
    <table>
        <tr>
            <td style="width:33%"><a href="{{site.baseurl}}/{{ page.submenu.table1 }}">-{{ page.submenu.table1Value }}-</a></td>
            <td style="width:33%"><a href="{{site.baseurl}}/{{page.submenu.table2}}">-{{page.submenu.table2Value}}-</a></td>
            <td style="width:33%"><a href="{{site.baseurl}}/{{page.submenu.table3}}">-{{ page.submenu.table3Value }}-</a></td>
        </tr>
    </table>
</div>
-->

<!---->
<div style="text-align:center">
    <table>
        <tr id="submenu" class="submenu">
        </tr>
    </table>
</div>

<script type="text/javascript">
    let submenu = {{ page.submenu | jsonify | default: '[]' }};
    let submenuLength = submenu.length;
    for (let i = 0; i < submenuLength; i++ ) {
        let td = document.createElement("td");
        if (submenu[i][1]) {
            td.innerHTML = "<a href='{{site.baseurl}}/" + submenu[i][0] + "'>" + submenu[i][1] + "</a>"
        } else {
            td.innerHTML = "<a href='{{site.baseurl}}/" + submenu[i][0] + "'>-- --</a>"
        }
        document.getElementById("submenu").append(td)
    }
</script>
