.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .profile-card {
    width: 100%;
    max-width: 600px;
    background-color: #2c3e50; // Dark blue background
    border: 1px solid #34495e; // Darker border
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #ffffff; // White text

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="file"],
    select {
      width: calc(100% - 12px);
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 16px;
    }

    button {
      background-color: #3498db; // Blue button
      color: #ffffff;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: #2980b9; // Darker blue on hover
      }
    }
  }

  .profile-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
    }
  }

  .profile-image-box {
    text-align: center;
    margin-top: 20px;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
      border: 2px solid #34495e;
    }
  }

  .section-delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;

    &:hover {
      background-color: darkred;
    }
  }
}