:root {
    --pixel-size: 2px;
    --grid-cell: calc( var(--pixel-size) * 16);
    --bg: #9FA7E4;
 }
 @media( min-width: 700px ) {
    :root {
       --pixel-size: 3px;
    }
 }
 @media( min-width: 1000px ) {
    :root {
       --pixel-size: 4px;
    }
 }
 html, body {
    height: 100%;
 }
 body {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .pixel-art {
    image-rendering: pixelated;
 }
 .frame {
    width: calc(var(--pixel-size) * 160);
    height: calc(var(--pixel-size) * 144);
    outline: var(--pixel-size) solid #fff;
    z-index:1;
    position:relative;
    margin-top: calc(var(--grid-cell) * 2);
 }
 .camera {
    width: calc(var(--pixel-size) * 160);
    height: calc(var(--pixel-size) * 144);
    overflow: hidden;
    background: #61DDF7;
    position:relative;
 }
 .chat-score, .balance, .questions-answered {
          font-size: 1.4em;
          font-weight: bold;
          color: #333;
          background-color: rgba(255, 255, 255, 0.85); /* Semi-transparent background */
          padding: 10px 15px; /* Add padding for better readability */
          border-radius: 8px; /* Rounded corners */
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
          position: absolute; /* Keep positioned at the top */
          z-index: 9999; /* Ensure visibility on top */
          right: 10px;
       }
 
       .chat-score {
          top: 10px; /* Place near the top */
       }
 
       .balance {
          top: 60px; /* Slightly below .chat-score */
       }
 
       .questions-answered {
          top: 110px; /* Slightly below .balance */
       }
 .map {
    image-rendering: pixelated;
    background-image: url("https://assets.codepen.io/21542/CameraDemoMap.png");
    background-size: 100%;
    width: calc(13 * var(--grid-cell));
    height: calc(10 * var(--grid-cell));
    position: relative;
 }
 .character {
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
    position: absolute;
    overflow:hidden;
 }
 .npc1 {
    width: calc(var(--grid-cell) * 2);
    height: calc(var(--grid-cell) * 1.5);
    position: absolute;
    left: calc(var(--grid-cell) * 1.8);
    top: calc(var(--grid-cell) * 3.5);
    background: url('/images/gamify/npc1.png') no-repeat no-repeat;
    background-size: contain;
    z-index: 0;
 }

 .npc2 {
    width: calc(var(--grid-cell) * 2);
    height: calc(var(--grid-cell) * 1.5);
    position: absolute;
    left: calc(var(--grid-cell) * 8);
    top: calc(var(--grid-cell) * 2);
    background: url('/images/gamify/npc2.png') no-repeat no-repeat;
    background-size: contain;
    z-index: 0;
 }
 .computer {
    width: calc(var(--grid-cell) * 1);
    height: calc(var(--grid-cell) * 0.8);
    position: absolute;
    left: calc(var(--grid-cell) * 11);
    top: calc(var(--grid-cell) * 4.5);
    background: url('/images/gamify/computer.png') no-repeat no-repeat;
    background-size: contain;
    z-index: 0;
 }
 .npc3 {
    width: calc(var(--grid-cell) * 1);
    height: calc(var(--grid-cell) * 1.5);
    position: absolute;
    left: calc(var(--grid-cell) * 8);
    top: calc(var(--grid-cell) * 6);
    background: url('/images/gamify/npc3.png') no-repeat no-repeat;
    background-size: contain;
    z-index: 0;
 }
 .npc4 {
    width: calc(var(--grid-cell) * 1);
    height: calc(var(--grid-cell) * 1.5);
    position: absolute;
    left: calc(var(--grid-cell) * 3);
    top: calc(var(--grid-cell) * 7);
    background: url('/images/gamify/npc4.png') no-repeat no-repeat;
    background-size: contain;
    z-index: 0;
 }
 .npc5 {
    width: calc(var(--grid-cell) * 1);
    height: calc(var(--grid-cell) * 1.5);
    position: absolute;
    left: calc(var(--grid-cell) * 9);
    top: calc(var(--grid-cell) * 4);
    background: url('/images/gamify/npc5.png') no-repeat no-repeat;
    background-size: contain;
    z-index: 0;
 }

 .tree2 {
    width: calc(var(--grid-cell) * 3);
    height: calc(var(--grid-cell) * 2);
    position: absolute;
    left: calc(var(--grid-cell) * 9.5);
    top: calc(var(--grid-cell) * 6);
    background: url('/images/gamify/tree.png') no-repeat no-repeat;
    background-size: contain;
    z-index: 0;
 }
 .tree {
    width: calc(var(--grid-cell) * 2);
    height: calc(var(--grid-cell) * 2);
    position: absolute;
    left: calc(var(--grid-cell) * 1);
    top: calc(var(--grid-cell) * 6);
    background: url('/images/gamify/tree.png') no-repeat no-repeat;
    background-size: contain;
    z-index: 0;
 }
 .dnhs {
 width: calc(var(--grid-cell) * 2);
 height: calc(var(--grid-cell) * 1.5);
 position: absolute;
 left: calc(var(--grid-cell) * 5.5);
 top: calc(var(--grid-cell) * 0.05);
 background: url('/images/gamify/dnhs.png') no-repeat no-repeat;
 background-size: contain;
 z-index: 0;
 }
 .shadow {
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
    position: absolute;
    left:0;
    top:0;
    background: url("https://assets.codepen.io/21542/DemoRpgCharacterShadow.png") no-repeat no-repeat;
    background-size: 100%;
 }
 .leaderboard-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
 }
 .leaderboard-box {
    display: none;
    position: absolute;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    z-index: 10;
    cursor: pointer;
 }
 .stocks {
    width: calc(var(--grid-cell) * 1);
    height: calc(var(--grid-cell) * 1);
    position: absolute;
    left: calc(var(--grid-cell) * 12); /* Adjust the position as needed */
    top: calc(var(--grid-cell) * 7); /* Adjust the position as needed */
    background: url('/images/gamify/stocks.png') no-repeat no-repeat;
    background-size: contain;
    z-index: 1; /* Make sure it appears above other elements */
 }   
 .character_spritesheet {
    position: absolute;
    background: url("https://assets.codepen.io/21542/DemoRpgCharacter.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc( var(--grid-cell)* 8 );
    height: calc( var(--grid-cell)* 8 );
 }
 .character[facing="right"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -32 );
 }
 .character[facing="up"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -64 );
 }
 .character[facing="left"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -96 );
 }
 .character[walking="true"] .character_spritesheet {
    animation: walkAnimation 0.6s steps(4) infinite;
 }
 @keyframes walkAnimation {
   from {
     transform: translate3d(0%,0%,0);
   }
   to {
     transform: translate3d(-100%,0%,0);
   }
 }
 .corner_topleft {
    top: calc(var(--pixel-size) * -1);
    left: calc(var(--pixel-size) * -1);
 }
 .corner_topright {
    top: calc(var(--pixel-size) * -1);
    right: calc(var(--pixel-size) * -1);
 }
 .corner_bottomleft {
    bottom: calc(var(--pixel-size) * -1);
    left: calc(var(--pixel-size) * -1);
 }
 .corner_bottomright {
    bottom: calc(var(--pixel-size) * -1);
    right: calc(var(--pixel-size) * -1);
 }
 .headline {
    position:absolute;
    top:calc(var(--pixel-size) * 2);
    right:calc(var(--pixel-size) * 2);
    width: calc(var(--pixel-size) * 75)
 }
 .dialog-box {
    display: none;
    position: absolute;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    z-index: 10;
    cursor: pointer;
 }

 .chat-score, .balance {
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
    background-color: rgba(255, 255, 255, 0.85); /* Semi-transparent background */
    padding: 10px 15px; /* Add padding for better readability */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    position: absolute; /* Keep positioned at the top */
    z-index: 9999; /* Ensure visibility on top */
    right: 10px;
 }
 
 .chat-score {
    top: 10px; /* Place near the top */
 }
 
 .balance {
    top: 60px; /* Slightly below .chat-score */
 }

 .shop-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 100;
}

.shop-button:hover {
    background-color: #45a049;
}

.container {
 width: 90%;
 max-width: 500px;
 padding: 20px;
 background-color: #fff;
 border-radius: 10px;
 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
 text-align: center;
}

body {
 font-family: Arial, sans-serif;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #f2f2f2;
 margin: 0;
 height: 100vh;
 position: relative;
 flex-direction: column;
}
/* Style for dialog boxes to ensure they appear above the NPCs */
.dialog-box {
 position: absolute;
 background-color: white;
 border: 1px solid black;
 padding: 5px;
 z-index: 10;
 display: none; /* Initially hidden */
}

/* NPC-specific dialog box positioning adjustments */
#npc1-dialog-box {
 top: 200px; /* Adjust based on NPC1's position */
 left: 15px;
}

#npc2-dialog-box {
 top: 100px; /* Adjust based on NPC2's position */
 left: 400px;
}

#teleport-prompt {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: white;
 border: 1px solid black;
 padding: 20px;
 z-index: 20;
 display: none;
 text-align: center;
}

#teleport-prompt button {
 margin: 5px;
 padding: 10px;
}
.chat-score, .balance, .questions-answered {
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
    background-color: rgba(255, 255, 255, 0.85); /* Semi-transparent background */
    padding: 10px 15px; /* Add padding for better readability */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    position: absolute; /* Keep positioned at the top */
    z-index: 9999; /* Ensure visibility on top */
    right: 10px;
 }

 .chat-score {
    top: 10px; /* Place near the top */
 }

 .balance {
    top: 60px; /* Slightly below .chat-score */
 }

 .questions-answered {
    top: 110px; /* Slightly below .balance */
 }
 body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    background: url('/images/gamify/back.png') no-repeat center center fixed;
    background-size: cover;
}
 .title {
    font-size: 5em;
    font-weight: bold;
    color: #0ccaca;
    text-align: center;
    position: absolute;
    top: 0.00001px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
} 

.shop-button {
    position: absolute;
    top: 150px;
    left: 120px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #0ccaca;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
    font-weight: bold;
}
.shop-button:hover {
    background-color: #099a9a;
}
.instruction-box {
    position: absolute;
    top: 250px;
    left: 50px;
    padding: 20px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.85);
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    z-index: 1000;
    animation: glow 1.5s infinite alternate;
    box-shadow: 0 0 20px #0ccaca, 0 0 40px #0ccaca, 0 0 60px #0ccaca;
}
@keyframes glow {
    from {
        box-shadow: 0 0 10px #0ccaca, 0 0 20px #0ccaca, 0 0 30px #0ccaca;
    }
    to {
        box-shadow: 0 0 20px #0ccaca, 0 0 40px #0ccaca, 0 0 60px #0ccaca;
    }
}
body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    background: url('/images/gamify/back.png') no-repeat center center fixed;
    background-size: cover;
}
.title {
    font-size: 5em;
    font-weight: bold;
    color: #0ccaca;
    text-align: center;
    position: absolute;
    top: 0.00001px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
.shop-button {
    position: absolute;
    top: 150px;
    left: 120px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #0ccaca;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
    font-weight: bold;
}
.shop-button:hover {
    background-color: #099a9a;
}
.instruction-box {
    position: absolute;
    top: 250px;
    left: 50px;
    padding: 20px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.85);
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    z-index: 1000;
    animation: glow 1.5s infinite alternate;
    box-shadow: 0 0 20px #0ccaca, 0 0 40px #0ccaca, 0 0 60px #0ccaca;
}
@keyframes glow {
    from {
        box-shadow: 0 0 10px #0ccaca, 0 0 20px #0ccaca, 0 0 30px #0ccaca;
    }
    to {
        box-shadow: 0 0 20px #0ccaca, 0 0 40px #0ccaca, 0 0 60px #0ccaca;
    }
}

.leaderboard-btn {
   position: fixed;
   bottom: 10px;
   left: 10px;
   background-color: #007BFF;
   color: white;
   border: none;
   border-radius: 5px;
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.leaderboard-btn:hover {
   background-color: #0056b3;
}

.leaderboard-modal {
   display: none;
   position: fixed;
   z-index: 1000;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.5);
}

.leaderboard-modal-content {
   background-color: white;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   max-width: 600px;
   border-radius: 10px;
   text-align: center;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.leaderboard-close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
   cursor: pointer;
}

.leaderboard-close:hover,
.leaderboard-close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

#leaderboard-entries div {
   font-family: 'Orbitron', sans-serif;
   font-size: 16px;
   margin: 10px 0;
   padding: 5px 0;
   border-bottom: 1px solid #ddd;
}
.streak-container {
   position: fixed;
   bottom: 20px; 
   right: 20px; 
   background-color: rgba(0, 0, 0, 0.85); 
   padding: 15px 20px; 
   border-radius: 10px; 
   text-align: center; 
   color: #fff; 
   font-family: 'Orbitron', sans-serif; 
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
   z-index: 9999; 
   width: 240px; 
}


.streak-container h3 {
   font-size: 1.4em;
   font-weight: bold;
   color: #0ccaca; 
   margin-bottom: 10px;
   text-shadow: 0 0 8px #0ccaca, 0 0 15px #0ccaca; 
}


.streak-container button {
   background-color: #007BFF; 
   color: white;
   border: none; 
   border-radius: 5px;
   padding: 8px 12px; 
   margin-top: 8px; 
   font-size: 1em;
   font-weight: bold;
   cursor: pointer;
   font-family: 'Orbitron', sans-serif; 
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); 
   transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.streak-container button:hover {
   background-color: #0056b3; /* Darker blue on hover */
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); /* Enhanced shadow on hover */
}


.streak-container input {
   width: calc(100% - 20px); 
   padding: 8px; 
   margin-top: 10px; 
   border: 1px solid #444; 
   border-radius: 5px; 
   background-color: rgba(255, 255, 255, 0.9); 
   color: #333;
   font-family: 'Orbitron', sans-serif;
   font-size: 1em;
   box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); 
}
