@import "minima/dracula/color-highlight-styles";

:root {
    --default-canvas-filter: invert(100%);
}

$high-emph: rgba(white, 0.87);
$med-emph: rgba(white, 0.69); 
$low-emph: rgba(white, 0.38);
$dark-grey : #121212; 
// $dark-grey : #1F1B24;
$overlay: mix($dark-grey, white, 95%);
$overlay-light: mix($dark-grey, white, 86%);

html, body, input, textarea, select, button {   
  color: $high-emph !important;
  background-color: $dark-grey !important;
}

a {
    color: rgb(75, 186, 255) !important;
}

a:hover {
    color:$high-emph !important;
}

.site-title, .site-title:visited, .site-nav, .page-link {
    color: $high-emph !important;
}

.site-nav {
    background-color: $dark-grey;
    border-color: $overlay-light;
}

* {
    scrollbar-color: $dark-grey $overlay-light;
}

pre, code {
    // BVas a lighter colour to better highlight short code words
    border-color: $overlay-light;
    background-color: $overlay;
}

.page-description {
    color: $med-emph;
}

.post-meta {
    color: $low-emph;
}

.post-content p, .post-content li {
    color: $med-emph;
}

.btn {
    background-color: $overlay !important;
    color: $high-emph !important;
    border-color: $overlay-light !important;
}

.btn:hover {
    background-color: $dark-grey !important;
}

table th{
    background-color: $overlay;
    border-color: $overlay-light;
    color: $high-emph;
}

table td{
    background-color: $dark-grey;
    border-color: $overlay-light;
    color: $med-emph;
}

.flash {
    color: $dark-grey !important;
    filter: brightness(80%);
}

canvas {
    filter: var(--default-canvas-filter);
}

.post-list > li > div {
    box-shadow: none !important;
    background-color: $overlay;
    border: none !important;
}

li .post-meta-description {
    color: $med-emph !important;
}

.search-result-preview{
    color: lightgray !important; 
}

.search-result-highlight {
    color:yellow !important;
    font-weight:bold !important;
}

.search-results-list-item .search-result-title {
    color: cornflowerblue !important;
}

  
.dropbtn {
    background-color: $dt-gray-dark; // Use Dracula theme background color
    color: $dt-gray-light; // Use Dracula theme foreground color for text
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  
    &:hover, &:focus {
      background-color: $dt-gray; // Use a slightly lighter Dracula theme color for hover
    }
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  
    &:hover .dropdown-content {
      display: block;
    }
  
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: $dt-code-cell-background; // Use Dracula theme code cell background
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  
      a {
        color: $dt-gray-light; // Use Dracula theme foreground color for text
        padding: 12px 16px;
        text-decoration: none;
        display: block;
  
        &:hover {
          background-color: $dt-gray; // Use a slightly lighter Dracula theme color for hover
        }
      }
    }
  }