<head>
    <link rel="stylesheet" href="profile-draft.css">
</head>

<div class="container">
    <div class="components">
        <div class="div3">
            <!-- Create Account Button -->
            <a href="#" class="btn btn__secondary" id="create-account-btn">
                <p>Bathroom</p>
            </a>

            <a href="#" class="btn btn__secondary" id="create-account-btn">
                <p>Analytics</p>
            </a>

            <a href="#" class="btn btn__secondary" id="create-account-btn">
                <p>Games</p>
            </a>
        </div>

        <div class="div1">
            <!-- Profile Picture Section -->
            <div class="profile-picture">
                <img src="https://cdn.discordapp.com/attachments/1295856065212186735/1302871034755809331/image.png?ex=672c53b4&is=672b0234&hm=9ee628091b55a215275d0c19e531e0e58cda30dfce7f48e707c30ef31466ce6c&"
                    alt="Profile Picture" class="profile-img">
            </div>
        </div>

        <div class="div2">
            <!-- Name and Basic Info Section -->
            <div class="info">
                <div class="name">
                    <input id="name" class="form__input" type="text" placeholder="Name" readonly />
                </div>
                <br>

                <div class="email-info">
                    <input id="email" class="form__input" type="email" placeholder="MyPlan User" readonly /><br>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <script src="profile.js"></script> -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>